<div class="landing">
    <div class="video">
        <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nobis similique quasi, ea sunt dignissimos exercitationem magni eligendi autem, excepturi suscipit. A voluptas quis voluptate. Voluptates repudiandae illum adipisci possimus.</div>
        <i class="fas fa-angle-left change-background fa-2x"></i>
        <i class="fas fa-angle-right change-background fa-2x"></i>
        <ul class="bullets">
            <li></li>
            <li class="active"></li>
            <li></li>
        </ul>
    </div>
</div>
<div class="content">
    <div>
        <h2>Descprition</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non asperiores, voluptates cupiditate quo laborum, distinctio error accusamus optio atque quam hic molestiae reiciendis suscipit repudiandae nihil quisquam quod ratione beatae.</p>
    </div>
</div>
<div class="diseases">
        <div class="cointainer pop">
            <img src="~/Images/logo 1.png" alt="logo">
            <div class="alzheimer">
                <h3>alzheimer</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, numquam animi temporibus enim cum, placeat minima neque, dignissimos dolore soluta rerum! Labore quod libero assumenda temporibus corrupti ab quas aliquam!</p>
            </div>
        </div>
    <div class="container2 pop">
        <img src="~/Images/logo 1.png" alt="logo">
        <div class="cancer">
            <h3>Cancer</h3>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, numquam animi temporibus enim cum, placeat minima neque, dignissimos dolore soluta rerum! Labore quod libero assumenda temporibus corrupti ab quas aliquam!</p>
        </div>
    </div>
</div>