@inject UserService _userService

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/home.css" rel="stylesheet">
    <link href="~/css/all.min.css" rel="stylesheet">
    <link href="css/hover.css" rel="stylesheet" media="all">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/font-awesome/css/all.css" />
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=Roboto:ital,wght@1,300&family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <img src="~/Images/logo 1.png" alt="logo" max-width="80px">
            <nav>
                <ul>
                    <li class="active">
                        <a asp-controller="Home" asp-action="Index">
                            <div class="login">Home</div>
                        </a> 
                    </li>
                    <li> <a class="help" href="#section">Help</a></li>
                    <li> <a class="Profile" href="#section">Profile</a></li>
                    @{
                        if (!_userService.UserIsLogin())
                        {
                            <li class="nav-item">
                                <a asp-controller="Login" asp-action="Index">
                                    <div class="active">Login</div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="Users" asp-action="Index">
                                    <div class="active">Register</div>
                                </a>
                            </li>


                        }
                        else
                        {
                            <li>
                                <a asp-controller="Home" asp-action="Logout">
                                    <div class="active">
                                        @_userService.UserName
                                        <span style="color:chartreuse">
                                            Logout
                                        </span>
                                    </div>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </div>
    </header>


    @RenderBody()
    <div class="footer">
        <div class="container">
            <img src="~/Images/logo 1.png" alt="footer">
            <p>We are Social</p>
            <div class="social-icons">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fas fa-home"></i>
                <i class="fab fa-linkedin"></i>
            </div>
        </div>
    </div>
</body>
@await RenderSectionAsync("Scripts", required: false)
</html>