@model AddNewUserVM

<div class="adduser-form">
    <h4 class="adduser-label">

        Add User

    </h4>
    <form class="user-form" asp-action="AddUser" method="post" role="form">




        <h5 style="color:red"> @Html.ValidationMessage("Validation Error")</h5>
        <div class="form-group">
            <label asp-for="Phone" class="phone-label"></label>
            <div class="col-md-12">
                <input asp-for="Phone" class="form-control-phone" required />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Mail" class="mail-label"></label>
            <div class="col-md-12">
                <input asp-for="Mail" class="form-control-mail" required />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="password-label"></label>
            <div class="col-md-12">
                <input asp-for="Password" class="form-control-password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Name" class="name-label"></label>
            <div class="col-md-12">
                <input asp-for="Name" class="form-control-name" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <div class="form-group-buttom">
                <input type="submit" class="adduser-buttom" value="ADD" />
            </div>
        </div>
    </form>
</div>


