<p class="description">
    If you want to your brain about Alzheimer's disease you can upload your disease MRI ,Otherwize upload your MRI about Cancer disease .
</p>
<div class="alzheimer">
    <p> Upload MRI about Alzheimer </p>
</div>
<div class="cancer">
    <p> Upload MRI about Cancer </p>
</div>
<div class="form-group">
    <label  class="phone-label"></label>
    <div class="col-md-12">
        <input  class="form-control-phone" required />
        <span  class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label  class="mail-label"></label>
    <div class="col-md-12">
        <input  class="form-control-mail" required />
        <span  class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label  class="password-label"></label>
    <div class="col-md-12">
        <input  class="form-control-password" type="password" />
        <span  class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <div class="form-group-buttom">
        <input type="submit" class="scan-buttom" value="Scan" />
    </div>
</div>